<md-content layout-padding layout-align="center center" flex layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak">
    <md-cart flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <div>
            <h4>To create a new transaction add an appropriate info here</h4>
        </div>
        <div>
            <form ng-submit="ctrl.addNewCategory()" autocomplete="off">
                <md-input-container layout-align="center center">
                    <label for="sum">Category Title</label>
                    <input id="sum" type="text" ng-model='ctrl.title' placeholder="Enter title" required>
                </md-input-container>
                <md-input-container class="md-block" layout-md="row" layout-align="center center" autocomplete="off">
                    <label>Parent category</label>
                    <md-select ng-model="ctrl.category" placeholder="Select category" ng-repeat="cat in ctrl.parentCats" required>
                        <md-option value="cat">{{cat}}</md-option>
                    </md-select>
                </md-input-container>
                <md-button class="md-raised md-primary" type="submit" layout-align-xs="center center">Create</md-button>
                <md-button class="md-raised md-primary" ng-click="ctrl.backToategoryList()" layout-align-xs="center center">Back</md-button>
            </form>
            </md-input-container>
        </div>
    </md-cart>
</md-content>
