<md-content layout-padding>
    <h4>To create a new transaction add appropriate info here</h4>
    <form ng-submit="ctrl.addNewTransaction()" autocomplete="off">
        <!-- class="col s12" -->
        <md-input-container class="md-block">
            <label for="sum">Transaction date</label>
            <md-datepicker ng-model="ctrl.date" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
        <md-input-container class="md-block">
            <div layout-md="row">
                <label for="sum">Total sum</label>
                <div>
                    <input id="sum" type="text" ng-model='ctrl.sum' placeholder="Enter sum" class="form-control" required>
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <div layout-md="row">
                <label for="description">Description</label>
                <div>
                    <input id="description" type="text" ng-model='ctrl.description' placeholder="Enter Description" class="form-control">
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <div layout-md="row" autocomplete="off">
                <label>Transaction category</label>
                <md-select ng-model="ctrl.category" placeholder="Select category" required>
                    <md-optgroup label="Daily spendings">
                        <md-option value="Grocaries">Grocaries</md-option>
                        <md-option value="Restaurants">Restaurants</md-option>
                        <md-option value="Commuting">Commuting</md-option>
                    </md-optgroup>
                    <md-optgroup label="Monthly spendings">
                        <md-option value="Payment for house maintanence">Payment for house maintanence</md-option>
                        <md-option value="Electricity">Electricity</md-option>
                        <md-option value="Gas">Gas</md-option>
                        <md-option value="Heating">Heating</md-option>
                    </md-optgroup>
                    <md-optgroup label="Quarterly spendings">
                        <md-option value="4">Brinjal</md-option>
                        <md-option value="5">Potato</md-option>
                        <md-option value="6">Tomato</md-option>
                    </md-optgroup>
                    <md-optgroup label="Yearly spendings">
                        <md-option value="4">Brinjal</md-option>
                        <md-option value="5">Potato</md-option>
                        <md-option value="6">Tomato</md-option>
                    </md-optgroup>
                </md-select>
        </md-input-container>
        <md-button class="md-primary" type="submit">Create new transaction</md-button>
        <md-button class="md-primary" ng-click="ctrl.backToTransactionsList()">Back</md-button>
    </form>
    </md-input-container>
</md-content>
