<div class="container-fluid container">
    <h4>To create a new transaction add appropriate info here</h4>
    <!-- <form ng-submit="ctrl.addNewTransaction()" class="form-horizontal" role="form" autocomplete="off"> -->
    <form ng-submit="contr.addNewTransaction()" autocomplete="off"><!-- class="col s12" --> 
        <!-- div class="form-group">
            <div class="row">
                <label>Transaction date</label>
                <input type="date" class="datepicker" ng-model="ctrl.date">
            </div>
        </div> -->
        <div layout-gt-xs="row">
        <div flex-gt-xs>
            <!-- <label for="sum" class="col-sm-2 control-label">Transaction date</label> -->
            <md-datepicker ng-model="contr.date" md-placeholder="Enter date"></md-datepicker>
        </div>
        </div>
        <div class="row">
            <label for="sum" class="col-sm-2 control-label">Total sum</label>
            <div class="col-sm-4">
                <input id="sum" type="text" ng-model='ctrl.sum' placeholder="Enter sum" class="form-control" required>
            </div>
        </div>
        <div class="row">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-4">
                <input id="description" type="text" ng-model='ctrl.description' placeholder="Enter Description" class="form-control">
            </div>
        </div>
        <div class="row" autocomplete="off">
            <label for="category" class="col-sm-2 control-label">Transaction category</label>
            <div class="col-sm-4">
                <select id="category" name="group" ng-model="ctrl.category" required>
                    <optgroup label="Daily spendings">
                        <option value="1">Grocaries</option>
                        <option value="2">Restaurants</option>
                        <option value="3">Commuting</option>
                    </optgroup>
                    <optgroup label="Monthly spendings">
                        <option value="4">Payment fro house maintanence</option>
                        <option value="5">Electricity</option>
                        <option value="6">Gas</option>
                        <option value="6">Heating</option>
                    </optgroup>
                    <optgroup label="Quarterly spendings">
                        <option value="4">Brinjal</option>
                        <option value="5">Potato</option>
                        <option value="6">Tomato</option>
                    </optgroup>
                    <optgroup label="Yearly spendings">
                        <option value="4">Brinjal</option>
                        <option value="5">Potato</option>
                        <option value="6">Tomato</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <button class="btn btn-default col-sm-offset-3 col-sm-2" type="submit">Create new transaction</button>
        <a href class="btn btn-primary" ng-click="ctrl.backToTransactionsList()">Back</a>
    </form>
</div>
