<md-content layout-padding>
    <div class="row">
        <table class="table">
            <thead>
                <th>#</th>
                <th>Date</th>
                <th>Category</th>
                <th>Description</th>
                <th>Total sum</th>
                <th>Edit</th>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in ctrl.transactions track by $index">
                    <td>{{$index+1}}</td>
                    <td>
                        <span editable-text="transaction.date" e-name="date" e-form="rowform">
                            {{ (transaction.date | date:'dd.MM.yyyy') || 'n/a' }}
                         </span>
                    </td>
                    <td>
                        <span editable-text="transaction.category" e-name="category" e-form="rowform" > <!-- e-ng-options="cat.value as cat.title for cat in ctrl.loadCategories()" -->
                            {{ctrl.showCategory(transaction)}}
                         </span>
                    </td>
                    <td>
                        <span editable-text="transaction.description" e-name="description" e-form="rowform">
                            {{ transaction.description || 'n/a' }}
                         </span>
                    </td>
                    <td>
                        <span editable-text="transaction.sum" e-name="sum" e-form="rowform">
                            {{ transaction.sum }}
                         </span>
                    </td>
                    <td>
                        <!-- form -->
                        <form editable-form name="rowform" onbeforesave="ctrl.editTransaction($data, transaction)" ng-show="rowform.$visible" shown="ctrl.updated == transaction">
                            <md-button type="submit" ng-disabled="rowform.$waiting">
                                save
                            </md-button>
                            <md-button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">
                                cancel
                            </md-button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <md-button class="md-primary" type="button" class="btn btn-primary" ng-click="rowform.$show()">
                                <md-icon ng-click="ctrl.edit(transaction)"><i class="material-icons">edit</i>
                                    <md-icon>
                            </md-button>
                            <md-button class="md-primary" type="button" class="btn btn-danger" ng-click="ctrl.deleteTransaction(transaction)">
                                <md-icon ng-click="ctrl.edit(transaction)"><i class="material-icons">delete</i>
                                </md-icon>
                            </md-button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">Total expenses</th>
                    <th>{{ctrl.getTotalExpenses()}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row">
        <md-button class="md-primary" ui-sref="user.newTransaction">Add new transaction</md-button>
    </div>
    </div>
</md-content>
<!-- 
            <thead md-head>
                <th md-column>#</th>
                <th md-column>Date</th>
                <th md-column>Category</th>
                <th md-column>Description</th>
                <th md-column>Total sum</th>
            </thead>
            <tbody md-body>
                <tr md-row md-select="transaction" md-select-id="name" md-auto-select ng-repeat="transaction in ctrl.transactions track by $index">
                    <td md-cell>{{$index+1}}</td>
                    <td md-cell>{{transaction.date | date:'dd/MM/yyyy'}}</td>
                    <td md-cell>{{transaction.category}}</td>
                    <td md-cell>{{transaction.description}}</td>
                    <td md-cell>{{transaction.sum}}</td>
                </tr>
            </tbody>
            <tfoot md-foot>
                <tr md-row>
                    <th md-column colspan="4"><strong>Total expenses</strong></th>
                    <th md-column>{{ctrl.getTotalExpenses()}}</th>
                </tr>
            </tfoot>
        </table>
 -->
