<div class="panel panel-primary">
    <div class="panel-header">
        Transaction info
    </div>
    <form ng-submit="ctrl.addNewTransaction()" class="form-horizontal" role="form" autocomplete="off">
        <div class="panel-body">
            <div class="form-group">
                <label for="date" class="col-sm-2 control-label">Transaction date</label>
                <div>
                    <!-- flex-gt-xs -->
                    <h4>Standard date-picker</h4>
                    <md-datepicker ng-model="ctrl.date" md-placeholder="Enter date"></md-datepicker>
                </div>
            </div>
            <div class="form-group">
                <label for="sum" class="col-sm-2 control-label">Total sum</label>
                <div class="col-sm-4">
                    <input id="sum" type="text" ng-model='ctrl.sum' placeholder="Enter sum" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-4">
                    <input id="description" type="text" ng-model='ctrl.description' placeholder="Enter Description" class="form-control">
                </div>
            </div>
            <div class="form-group" autocomplete="off">
                <label for="category" class="col-sm-2 control-label">Transaction category</label>
                <div class="col-sm-4">
                    <select id="category" name="group" ng-model="ctrl.category" class="form-control">
                        <option value='daily'>Daily spendings</option>
                        <option value='monthly'>Monthly spendings</option>
                        <option value='quarterly'>Quarterly spendings</option>
                        <option value='yearly'>Yearly spendings</option>
                    </select>
                </div>
            </div>
            <!-- <button class="btn btn-default col-sm-offset-3 col-sm-2" type="submit">Create new transaction</button> -->
        </div>
</div>
<div>
    <a href class="btn btn-primary" ng-click="ctrl.addNewTransaction()">Create transaction</a>
</div>
</form>
</div>
