<md-toolbar class="md-menu-toolbar">
    <div layout="row">
        <h1 layout="row" flex="75" ng-click="ctrl.redirectToHome()">myFinance</h1>
        <md-button flex ng-if="!ctrl.loggedInUser" layout="row" layout-align="end center"><a ui-sref="login">Login</a></md-button>
        <md-button flex ng-if="!ctrl.loggedInUser" layout="row" layout-align="end center"><a ui-sref="signUp">Sign up</a></md-button>
        <md-button ng-if="ctrl.loggedInUser" flex="14" layout-align="end center"><a ui-sref="user.newTransaction" flex layout="row">New transaction</a></md-button>
        <md-menu ng-if="ctrl.loggedInUser" width="10" flex="1" layout="row" layout-align="end center" layout="column">
            <md-button class="md-icon-button md-primary" aria-label="Menu" ng-mouseenter="$mdMenu.open()" layout="column">
                <md-icon> <i class="material-icons">menu</i></md-icon>
            </md-button>
            <md-menu-content flex ng-mouseleave="$mdMenu.close()" layout="column">
                <md-menu-item flex="10" class="menu">
                    <md-button flex>
                        <i class="material-icons">account_circle</i>
                        <a ui-sref="user.profile">Profile</a>
                    </md-button>
                </md-menu-item>
                <md-menu-item flex="10" layout="column">
                    <md-button flex>
                        <i class="material-icons">account_balance</i>
                        <a ui-sref="user.allTransactions">Transactions</a>
                    </md-button>
                </md-menu-item>
                <md-menu-item flex="10" layout="column">
                    <md-button flex>
                        <i class="material-icons">style</i>
                        <a ui-sref="user.allCategories">Categories</a>
                    </md-button>
                </md-menu-item>
                <md-menu-item flex="10" layout="column">
                    <md-button flex>
                        <i class="material-icons">dvr</i>
                        <a ui-sref="user.reports">Report</a>
                    </md-button>
                </md-menu-item>
                <md-menu-item flex="10" layout="column">
                    <md-button flex>
                        <i class="material-icons">exit_to_app</i>
                        <p ng-click="ctrl.logout()">Logout</p>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
