<section layout="column" flex layout-align="center center">
    <md-card class="md-whiteframe-10dp">
        <md-card-content>
            <form name="login" ng-submit="ctrl.userLogin()">
                <md-input-container class="md-block">
                    <label for="email">Email</label>
                    <input type="email" name="email" ng-model="ctrl.login" /> <!-- required -->
                </md-input-container>
                <md-input-container class="md-block">
                    <label for="password">Password</label>
                    <input type="password" name="password" ng-model="ctrl.pass" /> <!-- required -->
                </md-input-container>
                <md-input-container class="md-block">
                    <div layout="row" layout-align="center center">
                        <md-button class="md-primary md-raised" flex="50" type="submit">Login</md-button>
                    </div>
                </md-input-container>
            </form>
        </md-card-content>
    </md-card>
</section>
